extends layout

block content
  include navbar
  .container
    .row
      .col-md-8.col-md-offset-2
        h1.
          Welcome to ImLiveYo!
        p.
          To get started, click the button below and connect your Twitch account.
        a.btn.btn-primary.btn-lg.btn-block(href=twitchLoginUrl) Connect with Twitch 
          i.fa.fa-twitch
